#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Work Vang
Comment=Setup for work, Vang
Name[da]=Arbejde Vang
Comment[da]=Arbejds setup, Vang
Exec=arbejde vang
