[Desktop Entry]
Version=1.0
Name=floating terminal
Name[da]=flydende terminal
Comment=Run a terminal session in a floating window
Comment[da]=Kør terminal i flydende vindue
Exec=floatterm 
Icon=utilities-terminal
Terminal=false
Type=Application
MimeType=inode/directory
