[Desktop Entry]
Version=1.0
Name=terminal
Name[da]=terminal
Comment=Run a terminal session
Comment[da]=Kør terminal
Exec=terminal %f
Icon=utilities-terminal
Terminal=false
Type=Application
MimeType=inode/directory
